
/*#region Mobile*/

body{
    box-sizing:border-box;
    margin:auto;
    height:100vh;
    min-width: 480px;
    max-width: 767px;
    }

/*.container{    
    display:flex;
    flex-direction:column;
    height:100vh;
}*/
#e-f{
    display:flex;
    flex-direction: row;
}
#g-h{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#r1{
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#r2{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#r3,#r4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:15em;
}

#r5,#r6,#r7,#r8{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12em;
    width:50em;
}

#r9{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 12em;  
}
/*#endregion*/


/*#region Tablet 1024*/
@media (min-width:768px){
    .container{
        height:100vh;
        display:flex;
        flex-direction: column;
    }
    #e-f{
        display:flex;
        justify-content: flex-end;
    }
    #g-h{
        display:flex;
        justify-content: flex-end;
    }
    body{
       width:100%;
       min-width: 768px; 
    }
    #r1{
        height:15em;
        width:100%;
    }
    #r2{
        height:25em;
    }
    section > div #r3, section > div #r4{
       width: 25%; 
        height: 25em;
        display:flex;
    }
    #r5,#r6,#r7,#r8{
        height: 250px;
        width: 50em;        
    }
    #r9{
        height:15em;
    }
}
/*#endregion*/

/*#region Desktop min 1920*/
    @media(min-width:850px){
        body{
            box-sizing:border-box;
            max-width: 960px;
        }
        
        .container{    
            display:flex;
            flex-direction:column;
            height:100vh;
        }
        #e-f{
            display:flex;
            flex-direction: row;
        }
        #g-h{
            
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        
        #r1{
            height:12em;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        
        #r2{
            height: 20%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        
        #r3,#r4{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height:15em;
        }
        
        #r5,#r6,#r7,#r8{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 12em;
            width:50em;
        }
        
    #r9{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;  
        height: 12em;  
    }
    /*#endregion*/
    
}
