
@media(max-width:767px){
    body{
        box-sizing:border-box;
        margin:auto;
        height:100vh;
    }
}

.container{    
    display:flex;
    flex-direction:column;
    height:100vh;
}
#e-f{
    display:flex;
    flex-direction: row;
}
#g-h{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#r1{
    height:12em;
    display:flex;
    justify-content: center;
    align-items: center;
}

#r2{
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#r3,#r4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:15em;
}

#r5,#r6,#r7,#r8{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12em;
    width:50em;
}

#r9{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 12em;  
}

@media (min-width:768px){
    body{
       width:100%;
       min-width: 768px; 
       max-width: 960px;
    }
    #r1{
        height:100px;
        width:100%;
    }
    #r2{
        height:600px;
        width:25%;
    }
    #r3,#r4{
        width:37.5%;
        height: 200px;
    }
    #r5,#r6,#r7,#r8{
        float:left;
        height: 250px;
        width: 18.75%;
    }
    #r9{
        height:150px;
        width:75%;
    }
}
